/* Generated for Edge v145.0.0.0 on Windows */
@font-face {
     font-family: "Mikhak";
     src: url("https://cdn.fontcdn.ir/Fonts/Mikhak/4bbd227b0f8c4e1ce84ac17d4b14722c808deacfec35b1f1c52928dadfb761ae.woff2") format("woff2");
     font-weight: 100;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak";
     src: url("https://cdn.fontcdn.ir/Fonts/Mikhak/f1826cfe58288a87ef877dd369aa13ed6c068bcd6dad3d8e8e924aab1ac75b0e.woff2") format("woff2");
     font-weight: 200;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak";
     src: url("https://cdn.fontcdn.ir/Fonts/Mikhak/abdd8ff9fb9e6ac8d56c1831e6b4321d422b06d58ed4d1ab63e678541687076d.woff2") format("woff2");
     font-weight: 300;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak";
     src: url("https://cdn.fontcdn.ir/Fonts/Mikhak/30d89c6364c1c020036283135250a650a05042d71858d9c75fec27236fbc9e3e.woff2") format("woff2");
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak";
     src: url("https://cdn.fontcdn.ir/Fonts/Mikhak/8793b24db92abf8ddca0132584e45167db7b3a11bbfd8cc4031631460151a69c.woff2") format("woff2");
     font-weight: 500;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak";
     src: url("https://cdn.fontcdn.ir/Fonts/Mikhak/207cb2c10e7c96fa3030c65741b88bbbc83f866bbe0b1d42564aca78dc353ae4.woff2") format("woff2");
     font-weight: 600;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak";
     src: url("https://cdn.fontcdn.ir/Fonts/Mikhak/1a4e4be72d209e1aa1b6b14d5411e34a7ad2d88747fa90a5e67f88ac486ef5dd.woff2") format("woff2");
     font-weight: 700;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak";
     src: url("https://cdn.fontcdn.ir/Fonts/Mikhak/3a061e3668645736d57568d98d3fb256d1016bf9b786d4dde2e5f47b2ae80563.woff2") format("woff2");
     font-weight: 800;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak";
     src: url("https://cdn.fontcdn.ir/Fonts/Mikhak/880c6f276d671cd9a06c49f8a28294761006bf1b93d1d90e9175647c9422a372.woff2") format("woff2");
     font-weight: 900;
     font-style: normal;
}
/* CACHED: 2025-08-10T00:12:51+00:00 */
/* Powered by FontServer.ir */